#bbFieldGrid {
    position: relative;
    z-index: 0;
    min-height: 3em
}

#bbFieldGrid .no-js,
#bbFieldGrid .noresults,
#bbFieldGrid .old-browser {
    margin: 0 0 3.01508%;
    padding: 1em;
    background-color: #FBD872;
    text-align: center
}

@media only screen and (min-width:108em) {
    #bbFieldGrid .no-js,
    #bbFieldGrid .noresults,
    #bbFieldGrid .old-browser {
        margin: 0 0 2.5%
    }
}

#bbFieldGrid .no-js a,
#bbFieldGrid .noresults a,
#bbFieldGrid .old-browser a {
    border-bottom-color: #000;
    color: #6b5003;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none
}

#bbFieldGrid .no-js a:hover,
#bbFieldGrid .noresults a:hover,
#bbFieldGrid .old-browser a:hover {
    border-bottom-color: #bf9005;
    color: #000
}

#bbFieldGrid .old-browser {
    display: none
}

#bbFieldGrid .noresults {
    margin: 0;
    display: none
}

#bbFieldGrid .noresults.show {
    display: block
}

#bbFieldGrid .noresults .fa {
    color: #FFF
}

#bbFieldGrid .filters {
    width: 100%;
    min-height: 1px;
    margin-right: 0;
    margin-bottom: 1em;
    font-weight: 400;
    display: none
}

#bbFieldGrid .filters.data-loading {
    display: none
}

#bbFieldGrid .filters .display-nav,
#bbFieldGrid .filters>form {
    border: .125em solid #E5E2E0
}

@media only screen and (min-width:54em) {
    #bbFieldGrid .filters .display-nav,
    #bbFieldGrid .filters>form {
        border: none
    }
}

#bbFieldGrid .filters .display-nav {
    position: relative;
    z-index: 0;
    font-size: 1.25em;
    line-height: 100%;
    text-transform: uppercase;
    -webkit-transition: border-bottom-width 0ms linear;
    -moz-transition: border-bottom-width 0ms linear;
    -o-transition: border-bottom-width 0ms linear;
    transition: border-bottom-width 0ms linear;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms
}

#bbFieldGrid .filters .display-nav.closed {
    border-bottom-width: 0;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms
}

#bbFieldGrid .filters .display-nav.closed .close {
    display: none
}

#bbFieldGrid .filters .display-nav.closed .open {
    display: block
}

#bbFieldGrid .filters .display-nav .close,
#bbFieldGrid .filters .display-nav .open,
#bbFieldGrid .filters .display-nav span {
    -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out
}

#bbFieldGrid .filters .display-nav .close:hover,
#bbFieldGrid .filters .display-nav .open:hover,
#bbFieldGrid .filters .display-nav span:hover {
    background-color: #E5E2E0;
    color: #000;
    cursor: pointer
}

#bbFieldGrid .filters .display-nav span {
    margin-right: 1.8em;
    padding: .4em .8em;
    display: block
}

#bbFieldGrid .filters .display-nav .close,
#bbFieldGrid .filters .display-nav .open {
    width: 1.8em;
    margin: 0;
    padding: .4em 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(229, 226, 224, .5);
    font-size: 1em;
    line-height: inherit;
    text-align: center
}

#bbFieldGrid .filters .display-nav .close {
    display: block
}

#bbFieldGrid .filters .display-nav .open {
    display: none
}

#bbFieldGrid .filters>form {
    max-height: 200em;
    padding: 1em;
    border-top: none;
    overflow: hidden;
    -webkit-transition: max-height 500ms ease-in-out, padding 500ms ease-in-out;
    -moz-transition: max-height 500ms ease-in-out, padding 500ms ease-in-out;
    -o-transition: max-height 500ms ease-in-out, padding 500ms ease-in-out;
    transition: max-height 500ms ease-in-out, padding 500ms ease-in-out
}

@media only screen and (min-width:54em) {
    #bbFieldGrid .filters>form {
        padding: 0;
        overflow: visible;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }
}

#bbFieldGrid .filters>form.closed {
    max-height: 0;
    padding: 0 1em
}

@media only screen and (min-width:54em) {
    #bbFieldGrid .filters>form.closed {
        max-height: 200em;
        padding: 0;
        display: block
    }
}

#bbFieldGrid .filters fieldset {
    min-width: 0;
    margin: 0 0 1.5em;
    padding: 0;
    border: none;
    position: relative;
    z-index: 0
}

#bbFieldGrid .filters fieldset:last-child {
    margin-bottom: 0
}

#bbFieldGrid .filters [data-group=keyword] legend {
    display: none
}

#bbFieldGrid .filters [data-group=keyword] .filter {
    border: none!important
}

@media only screen and (min-width:81em) {
    #bbFieldGrid .filters [data-group=keyword] .search-box input {
        padding: .45em .6em;
        border-width: .3em .3em 0;
        float: none;
        width: 100%;
        min-height: 1px;
        margin-right: 10.81081%
    }
}

@media only screen and (min-width:81em) {
    #bbFieldGrid .filters [data-group=keyword] .search-box button {
        height: 2.4em;
        padding: .3em 0;
        border-width: .3em;
        font-size: 1.25em;
        line-height: 1.2em;
        float: none;
        width: 100%;
        min-height: 1px;
        margin-right: 10.81081%
    }
}

#bbFieldGrid .filters [data-group=keyword] .clear .submit-button,
#bbFieldGrid .filters [data-group=keyword] .search-box .clear-button {
    display: none
}

#bbFieldGrid .filters [data-group=keyword] .clear .clear-button {
    display: block
}

#bbFieldGrid .filters .parent-level>.form-field a,
#bbFieldGrid .filters [data-group=divisions] a {
    margin-right: 2em
}

#bbFieldGrid .filters legend {
    width: 100%;
    margin-bottom: .25em;
    color: #000
}

#bbFieldGrid .filters legend+* {
    margin-top: 0!important
}

#bbFieldGrid .filters .filter:last-child {
    border-bottom: solid .125em #E5E2E0
}

#bbFieldGrid .filters .filter.active>.form-field,
#bbFieldGrid .filters .filter.active>.form-field.all {
    background-color: #005EB8
}

#bbFieldGrid .filters .filter.active>.form-field.jhu {
    attr: #005EB8
}

#bbFieldGrid .filters .filter.active>.form-field.applied-physics-laboratory {
    background-color: #003D4C
}

#bbFieldGrid .filters .filter.active>.form-field.carey-TMS {
    background-color: #007A53
}

#bbFieldGrid .filters .filter.active>.form-field.NEUROFEEDBACK {
    background-color: #74AA50
}

#bbFieldGrid .filters .filter.active>.form-field.REMEDIACAO {
    background-color: #FF9E1B
}

#bbFieldGrid .filters .filter.active>.form-field.ELETROFISIOLOGIA {
    background-color: #7C7FAB
}

#bbFieldGrid .filters .filter.active>.form-field.TDCS {
    background-color: #CF4520
}

#bbFieldGrid .filters .filter.active>.form-field.QEEG {
    background-color: #8A2A2B
}

#bbFieldGrid .filters .filter.active>.form-field.GENETICA {
    background-color: #8E3A80
}

#bbFieldGrid .filters .filter.active>.form-field.EYETRACKING {
    background-color: #470A68
}

#bbFieldGrid .filters .filter.active>.form-field.TNS {
    background-color: #418FDE
}

#bbFieldGrid .filters .filter.active>.form-field a {
    padding-right: .25em;
    padding-left: .75em
}

#bbFieldGrid .filters .filter.active>.form-field a,
#bbFieldGrid .filters .filter.active>.form-field a:hover {
    background-color: transparent;
    color: #FFF
}

#bbFieldGrid .filters .filter.active>.form-field .fa {
    color: rgba(255, 255, 255, .5)!important
}

#bbFieldGrid .filters .filter.active>.form-field .info .fa,
#bbFieldGrid .filters .filter.active>.form-field .toggle-expand .fa {
    background-color: rgba(255, 255, 255, .125);
    color: rgba(255, 255, 255, .5)
}

#bbFieldGrid .filters .filter.active>.form-field .info .fa:hover,
#bbFieldGrid .filters .filter.active>.form-field .toggle-expand .fa:hover {
    background-color: rgba(255, 255, 255, .25);
    color: #FFF!important
}

#bbFieldGrid .filters .filter.active>.form-field .info-text {
    padding-left: .9375em;
    color: #FFF
}

#bbFieldGrid .filters .filter,
#bbFieldGrid .filters .filter+.clear {
    border-top: solid .125em #E5E2E0
}

#bbFieldGrid .filters .filter .clear-button .fa,
#bbFieldGrid .filters .filter a .fa,
#bbFieldGrid .filters .filter+.clear .clear-button .fa,
#bbFieldGrid .filters .filter+.clear a .fa {
    font-size: .9em;
    line-height: 100%;
    color: #7E7E7C;
    -webkit-transition: color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out
}

#bbFieldGrid .filters .filter .form-field,
#bbFieldGrid .filters .filter+.clear {
    padding: 0;
    position: relative;
    z-index: 0;
    color: #000
}

#bbFieldGrid .filters .filter .form-field.all,
#bbFieldGrid .filters .filter+.clear.all {
    color: #005EB8
}

#bbFieldGrid .filters .filter .form-field.jhu,
#bbFieldGrid .filters .filter+.clear.jhu {
    attr: #005EB8
}

#bbFieldGrid .filters .filter .form-field.applied-physics-laboratory,
#bbFieldGrid .filters .filter+.clear.applied-physics-laboratory {
    color: #003D4C
}

#bbFieldGrid .filters .filter .form-field.carey-TMS,
#bbFieldGrid .filters .filter+.clear.carey-TMS {
    color: #007A53
}

#bbFieldGrid .filters .filter .form-field.NEUROFEEDBACK,
#bbFieldGrid .filters .filter+.clear.NEUROFEEDBACK {
    color: #74AA50
}

#bbFieldGrid .filters .filter .form-field.REMEDIACAO,
#bbFieldGrid .filters .filter+.clear.REMEDIACAO {
    color: #FF9E1B
}

#bbFieldGrid .filters .filter .form-field.TDCS,
#bbFieldGrid .filters .filter+.clear.TDCS {
    color: #CF4520
}

#bbFieldGrid .filters .filter .form-field.QEEG,
#bbFieldGrid .filters .filter+.clear.QEEG {
    color: #8A2A2B
}

#bbFieldGrid .filters .filter .form-field.GENETICA,
#bbFieldGrid .filters .filter+.clear.GENETICA {
    color: #8E3A80
}

#bbFieldGrid .filters .filter .form-field.EYETRACKING,
#bbFieldGrid .filters .filter+.clear.EYETRACKING {
    color: #470A68
}

#bbFieldGrid .filters .filter .form-field.FMRI,
#bbFieldGrid .filters .filter+.clear.FMRI {
    color: #7C7FAB
}

#bbFieldGrid .filters .filter .form-field.ELETROFISIOLOGIA,
#bbFieldGrid .filters .filter+.clear.ELETROFISIOLOGIA {
    color: #7C7FAB
}

#bbFieldGrid .filters .filter .form-field.TNS,
#bbFieldGrid .filters .filter+.clear.TNS {
    color: #418FDE
}

#bbFieldGrid .filters .filter .form-field i,
#bbFieldGrid .filters .filter .form-field input,
#bbFieldGrid .filters .filter .form-field label,
#bbFieldGrid .filters .filter+.clear i,
#bbFieldGrid .filters .filter+.clear input,
#bbFieldGrid .filters .filter+.clear label {
    line-height: inherit
}

#bbFieldGrid .filters .filter .form-field input,
#bbFieldGrid .filters .filter .form-field label,
#bbFieldGrid .filters .filter+.clear input,
#bbFieldGrid .filters .filter+.clear label {
    display: block
}

#bbFieldGrid .filters .filter .form-field input[type=radio],
#bbFieldGrid .filters .filter .form-field input[type=checkbox],
#bbFieldGrid .filters .filter+.clear input[type=radio],
#bbFieldGrid .filters .filter+.clear input[type=checkbox] {
    display: none
}

#bbFieldGrid .filters .filter .form-field .clear-button,
#bbFieldGrid .filters .filter .form-field a,
#bbFieldGrid .filters .filter+.clear .clear-button,
#bbFieldGrid .filters .filter+.clear a {
    min-height: 2em;
    padding: .5em 1em .5em 0;
    background-color: transparent;
    color: inherit;
    text-align: left;
    line-height: 1em;
    display: block;
    -webkit-transition: padding-right, padding-left, background-color, color;
    -moz-transition: padding-right, padding-left, background-color, color;
    -o-transition: padding-right, padding-left, background-color, color;
    transition: padding-right, padding-left, background-color, color;
    -webkit-transition-duration: 250ms, 250ms, 250ms, 250ms;
    -moz-transition-duration: 250ms, 250ms, 250ms, 250ms;
    -o-transition-duration: 250ms, 250ms, 250ms, 250ms;
    transition-duration: 250ms, 250ms, 250ms, 250ms;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out
}

#bbFieldGrid .filters .filter .form-field .clear-button:hover,
#bbFieldGrid .filters .filter .form-field a:hover,
#bbFieldGrid .filters .filter+.clear .clear-button:hover,
#bbFieldGrid .filters .filter+.clear a:hover {
    padding-right: .25em;
    padding-left: .75em;
    background-color: #E5E2E0;
    color: #000
}

#bbFieldGrid .filters .filter .form-field .clear-button:hover.small,
#bbFieldGrid .filters .filter .form-field a:hover.small,
#bbFieldGrid .filters .filter+.clear .clear-button:hover.small,
#bbFieldGrid .filters .filter+.clear a:hover.small {
    padding-right: .3125em;
    padding-left: .9375em
}

#bbFieldGrid .filters .filter .form-field .clear-button:hover .fa,
#bbFieldGrid .filters .filter .form-field a:hover .fa,
#bbFieldGrid .filters .filter+.clear .clear-button:hover .fa,
#bbFieldGrid .filters .filter+.clear a:hover .fa {
    color: #4A484C
}

#bbFieldGrid .filters .filter .form-field .clear-button.small,
#bbFieldGrid .filters .filter .form-field a.small,
#bbFieldGrid .filters .filter+.clear .clear-button.small,
#bbFieldGrid .filters .filter+.clear a.small {
    padding: .75em 1.25em .75em 0
}

#bbFieldGrid .filters .filter .form-field .clear-button,
#bbFieldGrid .filters .filter+.clear .clear-button {
    width: 100%;
    border: none;
    display: block
}

#bbFieldGrid .filters .filter .form-field .clear-button:hover,
#bbFieldGrid .filters .filter+.clear .clear-button:hover {
    color: #000!important
}

#bbFieldGrid .filters .filter .form-field .clear-button,
#bbFieldGrid .filters .filter .form-field .clear-button .fa,
#bbFieldGrid .filters .filter+.clear .clear-button,
#bbFieldGrid .filters .filter+.clear .clear-button .fa {
    color: #B4B2AD
}

#bbFieldGrid .filters .filter .form-field .info .fa,
#bbFieldGrid .filters .filter .form-field .toggle-expand .fa,
#bbFieldGrid .filters .filter+.clear .info .fa,
#bbFieldGrid .filters .filter+.clear .toggle-expand .fa {
    width: 2em;
    min-height: 2em;
    height: 100%;
    margin: 0;
    padding: .5em;
    background-color: rgba(229, 226, 224, .5);
    font-size: 1em;
    text-align: center;
    -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out
}

#bbFieldGrid .filters .filter .form-field .info .fa:hover,
#bbFieldGrid .filters .filter .form-field .toggle-expand .fa:hover,
#bbFieldGrid .filters .filter+.clear .info .fa:hover,
#bbFieldGrid .filters .filter+.clear .toggle-expand .fa:hover {
    background-color: #E5E2E0;
    color: #000
}

#bbFieldGrid .filters .filter .form-field .info .fa,
#bbFieldGrid .filters .filter .form-field .toggle-expand,
#bbFieldGrid .filters .filter+.clear .info .fa,
#bbFieldGrid .filters .filter+.clear .toggle-expand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer
}

#bbFieldGrid .filters .filter .form-field .toggle-expand,
#bbFieldGrid .filters .filter+.clear .toggle-expand {
    margin: 0;
    padding: 0!important
}

#bbFieldGrid .filters .filter .form-field .toggle-expand:hover,
#bbFieldGrid .filters .filter+.clear .toggle-expand:hover {
    padding: 0!important
}

#bbFieldGrid .filters .filter .form-field .info,
#bbFieldGrid .filters .filter+.clear .info {
    padding-right: 2.25em;
    padding-bottom: 0;
    -webkit-transition: padding-bottom 250ms ease-in-out;
    -moz-transition: padding-bottom 250ms ease-in-out;
    -o-transition: padding-bottom 250ms ease-in-out;
    transition: padding-bottom 250ms ease-in-out
}

#bbFieldGrid .filters .filter .form-field .info:hover,
#bbFieldGrid .filters .filter+.clear .info:hover {
    padding-bottom: 1em
}

#bbFieldGrid .filters .filter .form-field .info:hover .info-text,
#bbFieldGrid .filters .filter+.clear .info:hover .info-text {
    max-height: 20em
}

@media only screen and (min-width:36em) {
    #bbFieldGrid .filters .filter .form-field .info:hover .info-text,
    #bbFieldGrid .filters .filter+.clear .info:hover .info-text {
        max-height: 8em
    }
}

@media only screen and (min-width:54em) {
    #bbFieldGrid .filters .filter .form-field .info:hover .info-text,
    #bbFieldGrid .filters .filter+.clear .info:hover .info-text {
        max-height: 14em
    }
}

@media only screen and (min-width:108em) {
    #bbFieldGrid .filters .filter .form-field .info:hover .info-text,
    #bbFieldGrid .filters .filter+.clear .info:hover .info-text {
        max-height: 12em
    }
}

#bbFieldGrid .filters .filter .form-field .info .fa,
#bbFieldGrid .filters .filter+.clear .info .fa {
    color: #B4B2AD
}

#bbFieldGrid .filters .filter .form-field .info-text,
#bbFieldGrid .filters .filter+.clear .info-text {
    width: 100%;
    max-height: 0;
    margin-bottom: 0;
    padding-right: .625em;
    font-size: .8em;
    font-style: italic;
    color: #000;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
    filter: alpha(opacity=66);
    -moz-opacity: .66;
    -khtml-opacity: .66;
    opacity: .66;
    -webkit-transition: max-height 250ms ease-in-out, margin-bottom 250ms ease-in-out, color 250ms ease-in-out;
    -moz-transition: max-height 250ms ease-in-out, margin-bottom 250ms ease-in-out, color 250ms ease-in-out;
    -o-transition: max-height 250ms ease-in-out, margin-bottom 250ms ease-in-out, color 250ms ease-in-out;
    transition: max-height 250ms ease-in-out, margin-bottom 250ms ease-in-out, color 250ms ease-in-out
}

#bbFieldGrid .filters .filter .form-field .info-text em,
#bbFieldGrid .filters .filter+.clear .info-text em {
    font-style: normal
}

#bbFieldGrid .filters .filter .child-filters {
    max-height: 0;
    margin-left: 1em;
    overflow: hidden;
    -webkit-transition: max-height 250ms ease-in-out;
    -moz-transition: max-height 250ms ease-in-out;
    -o-transition: max-height 250ms ease-in-out;
    transition: max-height 250ms ease-in-out
}

#bbFieldGrid .filters .filter .child-filters.open {
    max-height: 10em
}

#bbFieldGrid .filters .filter .filter:last-child {
    border-bottom: none
}

#bbFieldGrid .fields-of-study,
#bbFieldGrid .noresults {
    width: 100%;
    min-height: 1px;
    margin-right: 0
}

#bbFieldGrid .progress {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: none
}

#bbFieldGrid .progress .text {
    width: 100%;
    margin: 0;
    padding: 1em;
    position: relative;
    z-index: 300;
    font-weight: 400;
    line-height: 1em;
    color: #000;
    text-transform: uppercase;
    text-align: center
}

#bbFieldGrid .progress .bar-container {
    width: 100%;
    height: 100%;
    border: .1875em solid #005EB8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden
}

#bbFieldGrid .progress .bar {
    height: 100%;
    padding: .5em;
    background-color: #005EB8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}

#bbFieldGrid .gutter {
    width: 3.01508%
}

@media only screen and (min-width:108em) {
    #bbFieldGrid .gutter {
        width: 2.5%
    }
}

#bbFieldGrid .item,
grid-item {
    width: 100%;
    min-height: 1px;
    margin-right: 0;
    margin-bottom: 3.01508%;
    position: relative;
    z-index: 0;
    display: inline-block
}

@media only screen and (min-width:108em) {
    #bbFieldGrid .item,
    grid-item {
        width: 31.66667%;
        min-height: 1px;
        margin-right: 0;
        margin-bottom: 2.5%
    }
}

#bbFieldGrid .field-of-study-details {
    padding: 1em;
    border: .1875em solid #000;
    border-width: .5em
}

#bbFieldGrid .field-of-study-details h4 {
    margin-top: 0
}

#bbFieldGrid .field-of-study-details h4 a.all {
    color: #005EB8
}

#bbFieldGrid .field-of-study-details h4 a.jhu {
    attr: #005EB8
}

#bbFieldGrid .field-of-study-details h4 a.applied-physics-laboratory {
    color: #003D4C
}

#bbFieldGrid .field-of-study-details h4 a.carey-TMS {
    color: #007A53
}

#bbFieldGrid .field-of-study-details h4 a.NEUROFEEDBACK {
    color: #74AA50
}

#bbFieldGrid .field-of-study-details h4 a.REMEDIACAO {
    color: #FF9E1B
}

#bbFieldGrid .field-of-study-details h4 a.TDCS {
    color: #CF4520
}

#bbFieldGrid .field-of-study-details h4 a.QEEG {
    color: #8A2A2B
}

#bbFieldGrid .field-of-study-details h4 a.GENETICA {
    color: #8E3A80
}

#bbFieldGrid .field-of-study-details h4 a.EYETRACKING {
    color: #470A68
}

#bbFieldGrid .field-of-study-details h4 a.FMRI {
    color: #7C7FAB
}

#bbFieldGrid .field-of-study-details h4 a.ELETROFISIOLOGIA {
    color: #7C7FAB
}

#bbFieldGrid .field-of-study-details h4 a.TNS {
    color: #418FDE
}

#bbFieldGrid .field-of-study-details h4 a:hover {
    color: #000!important
}

#bbFieldGrid .field-of-study-details h4 a:hover.all {
    border-bottom-color: #005EB8
}

#bbFieldGrid .field-of-study-details h4 a:hover.jhu {
    attr: #005EB8
}

#bbFieldGrid .field-of-study-details h4 a:hover.applied-physics-laboratory {
    border-bottom-color: #003D4C
}

#bbFieldGrid .field-of-study-details h4 a:hover.carey-TMS {
    border-bottom-color: #007A53
}

#bbFieldGrid .field-of-study-details h4 a:hover.NEUROFEEDBACK {
    border-bottom-color: #74AA50
}

#bbFieldGrid .field-of-study-details h4 a:hover.REMEDIACAO {
    border-bottom-color: #FF9E1B
}

#bbFieldGrid .field-of-study-details h4 a:hover.TDCS {
    border-bottom-color: #CF4520
}

#bbFieldGrid .field-of-study-details h4 a:hover.QEEG {
    border-bottom-color: #8A2A2B
}

#bbFieldGrid .field-of-study-details h4 a:hover.GENETICA {
    border-bottom-color: #8E3A80
}

#bbFieldGrid .field-of-study-details h4 a:hover.EYETRACKING {
    border-bottom-color: #470A68
}

#bbFieldGrid .field-of-study-details h4 a:hover.FMRI {
    border-bottom-color: #7C7FAB
}

#bbFieldGrid .field-of-study-details h4 a:hover.ELETROFISIOLOGIA {
    border-bottom-color: #7C7FAB
}

#bbFieldGrid .field-of-study-details h4 a:hover.TNS {
    border-bottom-color: #418FDE
}

#bbFieldGrid .field-of-study-details .icons {
    font-size: .8em;
    letter-spacing: .12em
}

#bbFieldGrid .field-of-study-details .icons .fa {
    font-size: 1em;
    color: #7E7E7C;
    text-align: center;
    display: inline
}

#bbFieldGrid .field-of-study-details .division {
    margin-bottom: .625em;
    padding: 0;
    font-size: .8em;
    list-style: none;
    font-weight: 400;
    color: #7E7E7C
}

#bbFieldGrid .field-of-study-details .division li {
    padding-left: .3125em;
    text-indent: -.3125em
}

#bbFieldGrid .school-colors {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%
}

#bbFieldGrid .school-colors .color {
    height: 1em;
    float: left;
    background-color: #000
}

#bbFieldGrid .school-colors .color.all {
    background-color: #005EB8
}

#bbFieldGrid .school-colors .color.jhu {
    attr: #005EB8
}

#bbFieldGrid .school-colors .color.applied-physics-laboratory {
    background-color: #003D4C
}

#bbFieldGrid .school-colors .color.carey-TMS {
    background-color: #007A53
}

#bbFieldGrid .school-colors .color.NEUROFEEDBACK {
    background-color: #74AA50
}

#bbFieldGrid .school-colors .color.REMEDIACAO {
    background-color: #FF9E1B
}

#bbFieldGrid .school-colors .color.TDCS {
    background-color: #CF4520
}

#bbFieldGrid .school-colors .color.QEEG {
    background-color: #8A2A2B
}

#bbFieldGrid .school-colors .color.GENETICA {
    background-color: #8E3A80
}

#bbFieldGrid .school-colors .color.EYETRACKING {
    background-color: #470A68
}

#bbFieldGrid .school-colors .color.FMRI {
    background-color: #7C7FAB
}

#bbFieldGrid .school-colors .color.ELETROFISIOLOGIA {
    background-color: #7C7FAB
}

#bbFieldGrid .school-colors .color.TNS {
    background-color: #418FDE
}

#bbFieldGrid [data-school-number="1"] .color {
    width: 100%
}

#bbFieldGrid [data-school-number="2"] .color {
    width: 50%
}

#bbFieldGrid [data-school-number="3"] .color {
    width: 33.33333%
}

#bbFieldGrid [data-school-number="4"] .color {
    width: 25%
}

.js.not-modern-browser #bbFieldGrid .old-browser {
    display: block
}

.js.not-modern-browser #bbFieldGrid .filters {
    display: none
}

.js.not-modern-browser #bbFieldGrid .item,
grid-item {
    min-height: 1px;
    margin-right: 0;
    width: 100%!important
}

.js.modern-browser #bbFieldGrid .data-loading .progress {
    display: block
}

.js #bbFieldGrid .no-js,
.js.modern-browser #bbFieldGrid .data-loading .item,
grid-item {
    display: none
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid {
        width: 82.91667%;
        min-height: 3em;
        margin: 0 8.54167%
    }
}

@media only screen and (min-width:108em) {
    .js #bbFieldGrid {
        width: 100%;
        min-height: 3em;
        margin: 0
    }
}

.js #bbFieldGrid .filters {
    display: block
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid .filters {
        width: 38.19095%;
        min-height: 1px;
        margin-right: 3.01508%;
        margin-bottom: 0
    }
}

@media only screen and (min-width:81em) {
    .js #bbFieldGrid .filters {
        width: 27.88945%;
        min-height: 1px;
        margin-right: 3.01508%
    }
}

@media only screen and (min-width:108em) {
    .js #bbFieldGrid .filters {
        width: 23.125%;
        min-height: 1px;
        margin-right: 2.5%
    }
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid .display-nav {
        display: none
    }
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid .fields-of-study,
    .js #bbFieldGrid .noresults {
        width: 58.79397%;
        min-height: 1px;
        margin-right: 0
    }
}

@media only screen and (min-width:81em) {
    .js #bbFieldGrid .fields-of-study,
    .js #bbFieldGrid .noresults {
        width: 69.09548%;
        min-height: 1px;
        margin-right: 0
    }
}

@media only screen and (min-width:108em) {
    .js #bbFieldGrid .fields-of-study,
    .js #bbFieldGrid .noresults {
        width: 74.375%;
        min-height: 1px;
        margin-right: 0
    }
}

@media only screen and (min-width:36em) {
    .js #bbFieldGrid .gutter {
        width: 3.01508%
    }
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid .gutter {
        width: 5.12821%
    }
}

@media only screen and (min-width:81em) {
    .js #bbFieldGrid .gutter {
        width: 4.36364%
    }
}

@media only screen and (min-width:108em) {
    .js #bbFieldGrid .gutter {
        width: 3.36134%
    }
}

@media only screen and (min-width:36em) {
    .js #bbFieldGrid .item,
    grid-item {
        width: 48.49246%;
        min-height: 1px;
        margin-right: 0;
        margin-bottom: 3.01508%
    }
}

@media only screen and (min-width:54em) {
    .js #bbFieldGrid .item,
    grid-item {
        width: 100%;
        min-height: 1px;
        margin-right: 0;
        margin-bottom: 5.12821%
    }
}

@media only screen and (min-width:81em) {
    .js #bbFieldGrid .item,
    grid-item {
        width: 47.81818%;
        margin-right: 0;
        margin-bottom: 4.36364%
    }
}

@media only screen and (min-width:108em) {
    .js #bbFieldGrid .item,
    grid-item {
        width: 47.81818%;
        min-height: 1px;
        margin-right: 0;
        margin-bottom: 3.36134%
    }
}